In [1]:
# Dictionary
# -Indexed
# -Multiple and duplicate value
# -Ordered
# -Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>,...}
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [5]:
info = {'name':'Ram','age':10,'add':'Nepal'}
print(info['name'])
print(info['age'])
print(info['add'])

Ram
10
Nepal

In [6]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [7]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'apple'}
print(d)

{'a': 'apple', 'b': 'Ball', 'c': 'Cat'}

In [8]:
# d = dict()
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [9]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name  = ")
    phone = int(input("Enter phone = "))
    info[name] = phone
    
print(info)

Enter n = 2
Enter name  = Ram
Enter phone = 9808778765
Enter name  = Shyam
Enter phone = 9808667897
{'Ram': 9808778765, 'Shyam': 9808667897}

In [10]:
a = {'Ram': 9808778765, 'Shyam': 9808667897}
for i in a:
    print(i)

Ram
Shyam

In [11]:
a = {'Ram': 9808778765, 'Shyam': 9808667897}
for i in a.values():
    print(i)

9808778765
9808667897

In [13]:
l = []
a = {'Ram': 9808778765, 'Shyam': 9808667897}
for i in a.items():
    l.append(i)
    
print(l)

[('Ram', 9808778765), ('Shyam', 9808667897)]

In [14]:
dict(l)

{'Ram': 9808778765, 'Shyam': 9808667897}

In [ ]:
# No + *

In [15]:
d = {'Ram': 9808778765, 'Shyam': 9808667897}
a = {'Hari':9808667654}
d.update(a)
d

{'Ram': 9808778765, 'Shyam': 9808667897, 'Hari': 9808667654}

In [17]:
a = {'Ram': 9808778765, 'Shyam': 9808667897, 'Hari': 9808667654}
a['Ram'] = 9808000000
a

{'Ram': 9808000000, 'Shyam': 9808667897, 'Hari': 9808667654}

In [18]:
# list inside dict
a = {'Ram': [9808778765,9808667654], 
     'Shyam': [9808667897,9808667654], 
     'Hari': [9808667654,9808556765]}
print(a)

{'Ram': [9808778765, 9808667654], 'Shyam': [9808667897, 9808667654], 'Hari': [9808667654, 9808556765]}

In [19]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no = "))
    info[name] = [ntc,ncell]
    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc no = 9867889765
Enter ncell no = 9808667654
Enter name = Shyam
Enter ntc no = 9867009457
Enter ncell no = 9808778654
{'Ram': [9867889765, 9808667654], 'Shyam': [9867009457, 9808778654]}

In [21]:
# data = {'Name':['Ram','Shyam','Hari'],
#        'Age':[45,32,45],
#        'Add':['Kathmandu','Bhaktapur','Lalitpur']}

info = {'Name':[],'Age':[],'Add':[]}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info['Name'].append(name)
    info['Add'].append(add)
    info['Age'].append(age)
    
print(info)

Enter n = 1
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
{'Name': ['Ram'], 'Age': [78], 'Add': ['Kathmandu']}

In [22]:
a = {'Name': ['Ram'], 'Age': [78], 'Add': ['Kathmandu']}
a['Name'].append('Shyam')
a['Age'].append(34)
a['Add'].append('Bhaktapur')
a

{'Name': ['Ram', 'Shyam'], 'Age': [78, 34], 'Add': ['Kathmandu', 'Bhaktapur']}

In [23]:
# del pop()
d = {'Name': ['Ram', 'Shyam'], 'Age': [78, 34], 'Add': ['Kathmandu', 'Bhaktapur']}
del d['Add']
d

{'Name': ['Ram', 'Shyam'], 'Age': [78, 34]}

In [24]:
d = {'Name': ['Ram', 'Shyam'], 'Age': [78, 34], 'Add': ['Kathmandu', 'Bhaktapur']}

del d['Name'][0]
del d['Age'][0]
del d['Add'][0]
d

{'Name': ['Shyam'], 'Age': [34], 'Add': ['Bhaktapur']}

In [28]:
d = {'Name': ['Ram', 'Shyam'], 'Age': [78, 34], 'Add': ['Kathmandu', 'Bhaktapur']}
d['Add'][0] = "Jhapa"
d

{'Name': ['Ram', 'Shyam'], 'Age': [78, 34], 'Add': ['Jhapa', 'Bhaktapur']}

In [1]:
# # dict inside list
# l = [{'name':'Ram','age':23,'add':'Kathmandu'},
#     {'name':'Shyam','age':34,'add':'Kathmandu'},
#     {'name':'Hari','age':21,'add':'Jhapa'}]

In [2]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = {'name':name,'age':age,'add':add}
    data.append(info)
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter address = Kathmandu
Enter name = Shyam
Enter age = 89
Enter address = Bara
[{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 89, 'add': 'Bara'}]

In [6]:
data[0]['name'] = 'Rama'
data

[{'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 89, 'add': 'Bara'}]

In [7]:
# dict inside dict
# info = {1:{'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
#        2:{'name': 'Shyam', 'age': 89, 'add': 'Bara'}}

In [8]:
data = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = {'name':name,'age':age,'add':add}
    data[i] = info 
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter address = Kathmandu
Enter name = Shyam
Enter age = 56
Enter address = Balaju
{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 56, 'add': 'Balaju'}}

In [9]:
data[3] = {'name': 'Nabin', 'age': 78, 'add': 'Chitwan'}
data

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 56, 'add': 'Balaju'},
 3: {'name': 'Nabin', 'age': 78, 'add': 'Chitwan'}}

In [12]:
data[3]['age'] = 22
data

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 56, 'add': 'Balaju'},
 3: {'name': 'Nabin', 'age': 22, 'add': 'Chitwan'}}

In [ ]:
data = {1: {'name': 'Ram', 'age': 78, 'add': {'per':'Jhapa','temp':'Kathmandu'}}, 
        2: {'name': 'Shyam', 'age': 56, 'add': {'per':'Jhapa','temp':'Kathmandu'}}}

In [13]:
d = {'Ram':[9808668654,986789876],
    'Shyam':[9808667654,9808667654]}
d

{'Ram': [9808668654, 986789876], 'Shyam': [9808667654, 9808667654]}

In [14]:
d = {['Ram','Shyam']:98086678765,
    ['Hari','Sita']:9808778865}
d

TypeError: unhashable type: 'list'

In [15]:
d = {('Ram','Shyam'):98086678765,
    ('Hari','Sita'):9808778865}
d

{('Ram', 'Shyam'): 98086678765, ('Hari', 'Sita'): 9808778865}

In [17]:
d[('Ram','Shyam')]

98086678765