In [1]:
# # python collection
# list
# tuple
# dict
# set

In [2]:
# list
# -indexing
# -ordered
# -Multiple and duplicate value
# -mutable

In [4]:
a = ["Apple","Ball","Cat"]
b = [1,2,3,4,5,6,7,8,9,9]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
['Apple', 'Ball', 'Cat']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
a = ["Apple","Ball","Cat"]
print(a[2])

Cat

In [8]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [9]:
a = ["Apple","Ball","Cat"]
b = [1,2,3,4,5,6,7,8,9,9]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [10]:
a = ["Apple","Ball","Cat"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [11]:
a = [1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [12]:
phone = [9808556554,980887687]
phone

[9808556554, 980887687]

In [1]:
n= int(input("Enter n = "))
l = []
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
    
print(l)

Enter n = 5
Enter x = 23
Enter x = 345
Enter x = 234
Enter x = 456
Enter x = 234
[23, 345, 234, 456, 234]

In [5]:
print("The max value = ",max(l))
print("The min value  ",min(l))
print("The sum of the all value = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

The max value =  456
The min value   23
The sum of the all value =  1292
[23, 234, 234, 345, 456]
[456, 345, 234, 234, 23]

In [6]:
a = ["apple","zebra","Banana","Cat"]
a.sort()
print(a)

['Banana', 'Cat', 'apple', 'zebra']

In [7]:
a = ["apple","zebra","Banana","Cat"]
for i in a:
    print(i)

apple
zebra
Banana
Cat

In [12]:
a = ["Ram","Shyam","Hari","Ramesh"]
print("len of a = ",len(a))
if "Ram" in a:
    print("Yes",a.count("Ram"))
else:
    print("No")

len of a =  4
Yes 1

In [ ]:
# # write list
# append() insert() extend()
# #delete
# del remove() pop()

In [13]:
#append()
a = ["Ram","Shyam","Hari","Ramesh"]
a.append("Rakesh")
a

['Ram', 'Shyam', 'Hari', 'Ramesh', 'Rakesh']

In [14]:
# insert()
a = ["Ram","Shyam","Hari","Ramesh"]
a.insert(1,"Sita")
a

['Ram', 'Sita', 'Shyam', 'Hari', 'Ramesh']

In [15]:
a = ["Apple","Ball","Cat"]
b = [1,2,3,4,5,6,7,8,9,9]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [ ]:
n= int(input("Enter n = "))
l = []
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
print(l)

In [17]:
# del
a = ["Ram","Shyam","Hari","Ramesh"]
del a[0]
a

['Shyam', 'Hari', 'Ramesh']

In [18]:
# remove()
a = ["Ram","Shyam","Hari","Ramesh"]
a.remove("Ram")
print(a)

['Shyam', 'Hari', 'Ramesh']

In [19]:
# pop()
a = ["Ram","Shyam","Hari","Ramesh"]
b = a.pop(1)
print(a)
print(b)

['Ram', 'Hari', 'Ramesh']
Shyam

In [20]:
# del
a = ["Ram","Shyam","Hari","Ramesh"]
del a[0:2]
a

['Hari', 'Ramesh']

In [23]:
# remove()
a = ["Ram","Shyam","Hari","Ramesh","Ram"]
c = a.count("Ram")
for i in range(c):
    a.remove("Ram")
print(a)

['Shyam', 'Hari', 'Ramesh']

In [25]:
a = ["Ram","Shyam","Hari","Ramesh"]
a.index("Shyam")

1

In [29]:
a = ["Ram","Shyam","Hari","Ramesh","Shyam"]
n = len(a)
for i in range(n):
    print(a[i])

Ram
Shyam
Hari
Ramesh
Shyam

In [30]:
a = "Python"
n = len(a)
for i in range(n):
    print(a[i])

P
y
t
h
o
n

In [33]:
a = ["Ram","Shyam","Hari","Ramesh","Shyam","Ram"]
n = len(a)
for i in range(n):
    if a[i] == "Ram":
        print(i,a[i])

0 Ram
5 Ram

In [35]:
# Update
a = ["Ram","Shyam","Hari","Ramesh","Shyam","Ram"]
a[0] = "Rama"
a

['Rama', 'Shyam', 'Hari', 'Ramesh', 'Shyam', 'Ram']

In [36]:
# Update
a = ["Ram","Shyam","Hari","Ramesh","Shyam","Ram"]
a[0:2] = ["Rama","Shyama"]
a

['Rama', 'Shyama', 'Hari', 'Ramesh', 'Shyam', 'Ram']

In [37]:
a = "Apple 300 2 600\nBanana 100 3 300"
print(a)

Apple 300 2 600
Banana 100 3 300

In [38]:
a = "Apple 300 2 600\nBanana 100 3 300"
a.split('\n')

['Apple 300 2 600', 'Banana 100 3 300']

In [1]:
# list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]

In [2]:
a = [['Ram',89,'Kathmandu'],
    ['Shyam',67,'Bhaktapur'],
    ['Hari',56,'Lalitpur']]

print(len(a))

3

In [5]:
a = [['Ram',89,'Kathmandu'],
    ['Shyam',67,'Bhaktapur'],
    ['Hari',56,'Lalitpur']]
print(a[2])

['Hari', 56, 'Lalitpur']

In [10]:
a = [['Ram',89,'Kathmandu'],
    ['Shyam',67,'Bhaktapur'],
    ['Hari',56,'Lalitpur']]
print(a[1][0])

Shyam

In [12]:
a = [['Ram',89,'Kathmandu'],
    ['Shyam',67,'Bhaktapur'],
    ['Hari',56,'Lalitpur']]
a = a+[['Nabin',89,'Bara']]
a

[['Ram', 89, 'Kathmandu'],
 ['Shyam', 67, 'Bhaktapur'],
 ['Hari', 56, 'Lalitpur'],
 ['Nabin', 89, 'Bara']]

In [13]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info = [name,age,add]
    data.append(info)
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 45
Enter add = Balaju
[['Ram', 89, 'Kathmandu'], ['Shyam', 45, 'Balaju']]

In [14]:
x = [['Ram', 89, 'Kathmandu'], ['Shyam', 45, 'Balaju']]
x.append(['Hari',23,'Bara'])
x

[['Ram', 89, 'Kathmandu'], ['Shyam', 45, 'Balaju'], ['Hari', 23, 'Bara']]

In [18]:
x[0][0] = 'Rama'
x

[['Rama', 89, 'Kathmandu'], ['Shyam', 45, 'Balaju'], ['Hari', 23, 'Bara']]

In [19]:
del x[0]
x

[['Shyam', 45, 'Balaju'], ['Hari', 23, 'Bara']]

In [22]:
# search
x = [['Rama', 89, 'Kathmandu'], ['Shyam', 45, 'Balaju'], ['Hari', 23, 'Bara']]
search = input("Enter name = ")
for i in x:
    if search in i:
        print(i)

Enter name = Rama
['Rama', 89, 'Kathmandu']

In [30]:
# search
x = [['Rama', 89, 'Kathmandu'], ['Shyam', 45, 'Balaju'], ['Hari', 23, 'Bara']]
search = input("Enter name = ")
for i in x:
    if search in i:
        x.remove(i)
print(x)

Enter name = Rama
[['Shyam', 45, 'Balaju'], ['Hari', 23, 'Bara']]

In [34]:
# index
x = [['Ram', 89, 'Kathmandu'], ['Shyam', 45, 'Balaju'], ['Hari', 23, 'Bara']]
l = len(x)
search = input("Enter name = ")
for i in range(l):
    if search in x[i]:
        print(i)
print(x)

Enter name = Ram
[['Ram, Rama, Rameshwor', 89, 'Kathmandu'], ['Shyam', 45, 'Balaju'], ['Hari', 23, 'Bara']]

In [4]:
# search
x = [['Ram, Rama, Rameshwor', 89, 'Kathmandu'], ['Shyam', 45, 'Balaju'], ['Hari', 23, 'Bara'],['Ram', 89, 'Kathmandu']]
search = input("Enter name = ")
for i in x:
    if search in i[0]:
        print(i)

Enter name = Ram
['Ram, Rama, Rameshwor', 89, 'Kathmandu']
['Ram', 89, 'Kathmandu']

In [5]:
a = "Apple 300 2 600\nBanana 100 3 300"
print(a)

Apple 300 2 600
Banana 100 3 300

In [12]:
a = "Apple 300 2 600\nBanana 100 3 300"
x = a.split('\n')
print(x)
data = []
for i in x:
    y = i.split()
    data.append(y)
print(data)

['Apple 300 2 600', 'Banana 100 3 300']
[['Apple', '300', '2', '600'], ['Banana', '100', '3', '300']]

In [ ]:
# create a matrix using row and col input from user