In [1]:
# for loop
# while loop

In [2]:
# range(5) 0,1,2,3,4   for(i = 0; i<5 i++)
# range(1,5) 1,2,3,4   for(i = 1; i<5 i++)
# range(1,10,2) 1,3,5,7,9  for(i=1; 1<10; i = i+2)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [5]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
for i in range(1,5,2):
    print(i,"Hello World")

1 Hello World
3 Hello World

In [7]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(i*n)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [11]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
for i in range(5):
    x = int(input("Enter value = "))
    print(x)

Enter value = 234
234
Enter value = 345
345
Enter value = 234
234
Enter value = 456
456
Enter value = 234
234

In [9]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter value = "))
    s = s + x
    
    print(s)

Enter n = 5
Enter value = 2
2
Enter value = 3
5
Enter value = 4
9
Enter value = 5
14
Enter value = 6
20

In [3]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter value = ")
    s = s + x + '\n'
    
print(s)

Enter n = 2
Enter value = Ram
Enter value = Shyam
Ram Shyam

In [7]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    
    s = s + name + " " +phone+'\n'
    
print(s)

Enter n = 5
Enter name = Ram
Enter phone = 9808778767
Enter name = Shyam
Enter phone = 9808667890
Enter name = Hari
Enter phone = 9808778723
Enter name = Nabin
Enter phone = 9867889826
Enter name = Sabin
Enter phone = 9841667812
Ram 9808778767
Shyam 9808667890
Hari 9808778723
Nabin 9867889826
Sabin 9841667812

In [8]:
print(s)

Ram 9808778767
Shyam 9808667890
Hari 9808778723
Nabin 9867889826
Sabin 9841667812

In [9]:
# 5! = 1*2*3*4*5

In [12]:
s =0
n = int(input("Enter n = "))
for i in range(n+1):
    s = s+i
print(s)

Enter n = 100
5050

In [15]:
# 5! = 1*2*3*4*5
s =1
n = int(input("Enter n = "))
for i in range(1,n+1):
    s = s*i
print(s)

Enter n = 5
120

In [17]:
for i in range(21):
    if i %2 ==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [21]:
for i in range(21):
    if i %2 ==0:
        print(i,end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [18]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [22]:
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [23]:
a = "Python"
for i in a:
    print(i,"Hello World")

P Hello World
y Hello World
t Hello World
h Hello World
o Hello World
n Hello World

In [26]:
a = "Hello World I am Python"
for i in a:
    if i != " ":
        print(i,end = "")

HelloWorldIamPython

In [ ]:
# while
# control statemant

In [1]:
# control statemant
# break
# continue

In [2]:
for i in range(10):
    if i ==6:
        break
    print(i)

0
1
2
3
4
5

In [4]:
for i in range(10):
    if i ==6:
        continue
    print(i,end = "")

012345789

In [6]:
for i in range(1,31):
    if i%3 != 0:
        continue
    print(i)

3
6
9
12
15
18
21
24
27
30

In [8]:
a = "Hello World I am Python"
for i in a:
    if i == " ":
        break
    print(i)

H
e
l
l
o

In [13]:
a = "Hello World I am Python"
for i in a:
    if i == " ":
        continue
    print(i,end = '')

HelloWorldIamPython

In [14]:
# # While loop
# while <condition>:
#     <operation>

In [2]:
a = 0
while a<5:
    print(a,"Hello world")
    a = a+1

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [3]:
a = 5
while a>0:
    print(a,"Hello world")
    a = a-1

5 Hello world
4 Hello world
3 Hello world
2 Hello world
1 Hello world

In [1]:
i = 1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i = i+1

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [3]:
s = ""
i = 0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + " " + phone +"\n"
    i = i+1
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9808667654
Enter name = Shyam
Enter phone = 9808667865
Ram 9808667654
Shyam 9808667865

In [ ]:
# 5! = 1*2*3*4*5
s =1
i = 1
n = int(input("Enter n = "))
while i<=n:
    s = s*i
    i = i+1
print(s)

In [5]:
# break
i = 0
while i<10:
    if i ==6:
        break
    print(i,end = "")
    i = i+1

012345

In [1]:
# continue
i = 0
while i<10:
    if i ==6:
        i = i+1
        continue
    print(i,end = "")
    i = i+1

012345789

In [2]:
# prime = 2,3,5,7,11,13,17,19,...

In [7]:
n = int(input("Enter n = "))
if n >=2:
    for i in range(2,n):
        if n%i==0:
            print(n,"is Composite no")
            break
    else:
        print(n,"is Prime no")

else:
    print("Please enter valid no.")

Enter n = 1
1 is Prime no

In [3]:
c = 2
n1 = int(input("Enter n1"))
n2 = int(input("Enter n2"))
for i in range(n1,n2):
    if n1%c!=0:
        print(n1,"This is prime no.")
    c = c+1

Enter n110
Enter n215
10 This is prime no.
10 This is prime no.
10 This is prime no.

In [6]:
n1 = int(input("Enter n1 = "))
n2 = int(input("Enter n2 = "))
if n1 >=2 and n2>=2:
    for i in range(n1,n2):
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

else:
    print("Please enter valid no.")

Enter n1 = 10
Enter n2 = 15
11
13