In [1]:
# string
a = 'Hello world'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [4]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
for i in a:
    print(i,end = "")

Hello World

In [8]:
a = input("Enter a = ")
print(a)

Enter a = 100
100

In [11]:
a = "Hello World"
a[2]

'l'

In [12]:
a = "Hello World"
a[0:8]

'Hello Wo'

In [14]:
a = "Hello World"
a[0:8:2]

'HloW'

In [15]:
a = "Hello World"
a = len(a)
a

11

In [18]:
a = "Hello World"
a[-1::-1]

'dlroW olleH'

In [19]:
name = "Ram"
age = 23
add = "Kathmandu"
info = "Hello World I am "+name+"I am from "+add+" I am "+str(age)
print(info)

Hello World am RamI am from Kathmandu I am 23

In [21]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello world I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Hello world I am Ram. I am from Kathmandu. I am 34

In [23]:
s = 0
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total=price*quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    s = s+total
    
print("all total = ",s)
print(bill)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 2
Enter name = Banana
Enter price = 100
Enter quantity = 3
all total =  900
Apple 300 2 600
Banana 100 3 300

In [25]:
a = "Ram Shyam Hari Sita Gita Ram"
if "Ram" in a:
    print("There is Ram")
else:
    print("No")

There is Ram

In [29]:
a = "Ram Shyam Hari Sita Gita Ram"
b = input("Enter search value = ")
if b in a:
    print(" Yes there is",b)
    print(a.count(b))
else:
    print("No")

Enter search value = ram
No

In [43]:
a = "Ram Shyam Hari Sita Gita Ramesh".lower()
b = input("Enter search value = ").lower()
if b in a:
    print(" Yes there is",b)
    print(a.count(b))
else:
    print("No")

Enter search value = Ram
 Yes there is ram
2

In [32]:
a = "Ram Shyam Hari Sita Gita Ram"
print(a.lower())
print(a.upper())
print(a)

ram shyam hari sita gita ram
RAM SHYAM HARI SITA GITA RAM
Ram Shyam Hari Sita Gita Ram

In [42]:
a = input("Enter any no = ")
b = input("Enter next no = ")
if a == b[::-1]:
    print("Yes")
else:
    print("No")

Enter any no = 123
Enter next no = 321
Yes

In [48]:
# replace
a = "Ram Shyam Hari Sita Gita Ram"
a.replace('Ram','Nabin')
print(a)

Ram Shyam Hari Sita Gita Ram

In [46]:
print(a)

Ram Shyam Hari Sita Gita Ram

In [47]:
# replace
a = "Ram Shyam Hari Sita Gita Ram"
a = a.replace('Ram','Nabin')
a

'Nabin Shyam Hari Sita Gita Nabin'